<!-- Display number of results -->
<div class="container">
    <p id="text-result-more" class="centered-text">
        <% if (numberOfPages < 1 || followers == undefined ) { %>
            Found 0 followers
        <% } else { %>
            Showing <span id="text-followers-result-more">
                <% if (currentPage < numberOfPages) { %>
                    <%= currentPage * 30 %>
                <% } else { %>
                    <%= user.followers %>
                <% } %>
            </span> out of <%= user.followers %> followers
        <% } %>
    </p>
</div>
<!-- END Display number of results -->