<!-- Load More Button -->
<div class="container btn-container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 centered" id="container-load-more" data-page="1" data-total-pages="<%= numberOfPages %>">
            <a id="btn-load-more" class="btn btn-custom col" href="" role="button">LOAD MORE</a>
        </div>
    </div>
</div>
<!-- END Load More Button -->