/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #4A5459;
}

a {
    color: rgb(52, 73, 94);
}

a:hover {
    color: rgb(46, 204, 113);
    text-decoration: none;
}

.jumbotron {
    padding-bottom: 1rem;
}

.centered-text {
    text-align: center;
}

.title {
    padding: 2rem;
    text-transform: uppercase;
}

.title h4 {
    font-weight: 300;    
}

.centered {
    margin: 0 auto;
}

/* NAV */
.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #fff;
}

#navbarSupportedContent {
    margin: 9px;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #fff;
}

/* BUTTONS */
.btn-custom {
    background-color: rgb(46, 204, 113);
    border-color: rgb(46, 204, 113);
    color: #fff;
    transition: background-color .15s ease-in-out, 
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.btn-custom:hover {
    background-color: rgb(39, 174, 96);
    border-color: rgb(39, 174, 96);
    color: #fff;
}

.btn-container {
    padding-bottom: 1rem;
}

#container-load-more {
    padding-top: 1.2rem;
    padding-bottom: 5rem;
}

/* CARDS for user and followers' profile */
h4.card-text {
    font-weight: 300;
}

.card-body {
    text-align: center;
}

.card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.card-title {
    overflow-wrap: break-word;
}

.card-user {
    background-color: #fefefe;
}

.card-follower {
    padding: 0rem 2rem;
}

/* BADGE */
.badge-custom {
    background-color: rgb(46, 204, 113);
    color: #fff;
}

/* TEXT SHOWING NUMBER OF RESULTS */
#text-result {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/* RESPONSIVE BREAKPOINTS */
/* Extra large devices (large desktops)*/
@media (max-width: 1200px) {  }

/* Large devices (desktops)*/
@media (max-width: 992px) {
    .card-follower .card-body {
        padding: 1rem 0.5rem;
    }
}

/* Medium devices (tablets)*/
@media (max-width: 768px) {  
    .container {
        max-width: 700px;
    }
}

/* Small devices (landscape phones)*/
@media (max-width: 576px) {  
    .container {
        max-width: 540px;
    }
}