<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1>GitHub Followers Lookup</h1>
                <p>Enter a GitHub username to see their followers</p>
                
                <!-- SEARCH BAR -->
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <input type="query" name="username" id="search-user" class="form-control" placeholder="Search for github username..." aria-label="Search for github username...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- END SEARCH BAR -->

            </div>
            <!-- END .container  -->
        </div>
        <!-- END .jumbotron -->

        <!-- Search results -->
        <div class="container">
            <div id="search-user-results">
                <div class="card" style="width: 20rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <a href="#" target="_blank">
                            <h4 class="card-title">username</h4>
                        </a>
                        <p class="card-text">First Name Last Name</p>
                        <p class="card-text">number of followers</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="#" target="_blank">
                            <li class="list-group-item">Follower1</li>
                        </a>
                        <a href="#" target="_blank">
                            <li class="list-group-item">Follower2</li>                            
                        </a>
                        <a href="#" target="_blank">
                            <li class="list-group-item">Follower3</li>
                        </a>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Previous</a>
                        <a href="#" class="btn btn-primary">Next</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END search results -->

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>