<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main role="main">
        <!-- .jumbotron -->
        <div class="jumbotron">
            <!-- .container -->
            <div class="container">
                <h1>GitHub Followers Lookup</h1>
                <p>Enter a GitHub username to see their followers</p>
                <!-- SEARCH BAR -->
                <div class="row">
                    <div class="col">
                        <form id="search-form" action="/search" method="POST">
                            <div class="input-group">
                                <input type="query" name="username" id="search-user" class="form-control" placeholder="Try entering defunkt ..." aria-label="Try entering defunkt ..." value="<% if (locals.previousSearchUser) { %><%= previousSearchUser %><%}%>" />
                                <span class="input-group-btn">
                                    <button class="btn btn-custom" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SEARCH BAR -->
            </div>
            <!-- END .container  -->
        </div>
        <!-- END .jumbotron -->
        
        <% var user = user ; %>
        <% if (user) { %>
        <!-- Search results -->
        <div class="container">
            <!-- #search-user-results -->
            <div id="search-user-results" class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                    <% include ../partials/user %>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                    <% if ( numberOfPages < 1 || followers == undefined ) { %>
                        <% include ../partials/currentFollowersCount %>
                    <% } else { %>
                        <!-- Header -->
                        <div class="centered-text title">
                            <h4>List of Followers</h4>
                        </div>
                        <!-- END Header -->

                        <% include ../partials/followers %>
                        
                        <% if ( numberOfPages > 1 ) { %>
                            <% include ../partials/loadMoreButton %>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <!-- END #search-user-results -->
        </div>
        <% } else if(locals.previousSearchUser != undefined && user == undefined) { %>
            <% include ../partials/userNotFound %>
        <% } %>
        <!-- END search results -->

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>